dn: {{ basedn }}
objectclass: dcObject
objectclass: organization
o: {{ organisation }}
dc: {{ basedn | regex_replace('^dc=([^,]+).*$', '\\1') }}

dn: cn={{ ldap_admin }},{{ basedn }}
objectclass: organizationalRole
cn: admin
