dn: ou=users,dc=portal,dc=example,dc=org
objectClass: organizationalUnit
objectClass: top
ou: users

dn: cn=John Doe,ou=users,dc=portal,dc=example,dc=org
givenName: John
sn: Doe
cn: John Doe
uid: johndoe
uidNumber: 2500
gidNumber: 1000
loginShell: /bin/sh
homeDirectory: /home/johndoe
userPassword: {SSHA}iJgjf4iQ2gUIA9ROVNia+ufe1f4uBggS
objectClass: inetOrgPerson
objectClass: posixAccount
objectClass: top
