# Create the organisational unit group, which will contain all groups
dn: ou=group,dc=portal,dc=example,dc=org
ou: group
objectClass: organizationalUnit
objectClass: top

# Add a group to the group container
dn: cn=irodsuser,ou=group,dc=portal,dc=example,dc=org
objectClass: posixGroup
objectClass: top
cn: irodsuser
gidNumber: 1000
