[ ca ]
default_ca                      = CA_example

[ CA_example ]
countryName_default             = {{ country_name }}
stateOrProvinceName_default     = {{ state_or_province_name }}
localityName_default            = {{ locality_name }}
0.organizationName_default      = {{ organisation }}
0.organizationalUnit_default    = {{ organisational_unit }}
commonName_default              = {{ hostname }}.{{ domainname }}
emailAddress_default            = {{ email_unit }}@{{ domainname }}

[ req ]
default_bits           			= {{ default_bits }}
default_keyfile        			= keyfile.pem
distinguished_name     			= req_distinguished_name
prompt                 			= no
output_password        			= mypass

[ req_distinguished_name ]
C                      			= {{ country_name }}
ST                     			= {{ state_or_province_name }}
L                      			= {{ locality_name }}
O                      			= {{ organisation }}
OU                     			= {{ organisational_unit }}
CN                     			= {{ hostname }}.{{ domainname }}
emailAddress           			= {{ email_unit }}@{{ domainname }}
