---
- name: Install LDAP and its dependancies
  yum:
    name={{ item }}
    state=latest
  with_items:
    - openldap
    - openldap-servers
    - openldap-clients

- name: Delete /etc/openldap/slapd.d/
  file:
    path=/etc/openldap/slapd.d
    state=absent

- name: Generating password hash for LDAP admin
  command:
    slappasswd -h {SSHA} -s {{ ldap_admin_passwd }}
  register:
    slappasswd

- name: Create directory for ldif files
  file:
    path=ldifs
    state=directory
    owner=vagrant
    group=vagrant
    mode=0755

- name: Create configuration files from template
  template:
    src={{ item.src }}
    dest={{ item.dest }}
    owner=root
    group=root
    mode=0644
  with_items:
    - { src: slapd.conf.j2,                  dest: /etc/openldap/slapd.conf          }
    - { src: ldap.conf.j2,                   dest: /etc/openldap/ldap.conf           }
    - { src: add_admin.ldif.j2,              dest: ldifs/add_admin.ldif              }
    - { src: add_group_and_populate.ldif.j2, dest: ldifs/add_group_and_populate.ldif }
    - { src: add_users.ldif.j2,              dest: ldifs/add_users.ldif              }

- name: Starting slapd service
  service:
    name=slapd
    state=started

- name: Adding admin user to LDAP
  become_user: vagrant
  command:
    ldapadd -x -D {{ rootdn }} -w {{ ldap_admin_passwd }} -f ldifs/{{ item }}
  register: result
  failed_when: "(result.rc not in [0, 68])"
  with_items:
    - add_admin.ldif
    - add_group_and_populate.ldif
    - add_users.ldif
