---
- hosts: all
  become_user: root
  become: true

  roles:
    - { role: hosts }
    - { role: generate_key_pair }
    - { role: geerlingguy.ntp, ntp_timezone: Europe/Amsterdam, ntp_manage_config: true }
    - { role: postgresql }
    - { role: irods, irods_version: "4.1.8", irods_database_plugin_version: "1.8" }
    - { role: oath }
    - { role: irods_pam_authentication }
    - { role: apache }
    - { role: simpleSAMLphp, simplesamlphp_version: 1.14.3 }
    - { role: fedauth-portal }
    - { role: ldap }
    - { role: phpldapadmin }
    - { role: sssd }
